:root {
    --base: #E4B4E0;
    --highlight: #C581A3;
    --background: #1f1f1f;
    --contrast: #2e2e2e;
    --text: #C581A3;
    --contrast-text: #FFFFFF; 
    background-color: var(--background);
}

body {
    color: var(--contrast-text);
    font-family: "Montserrat", sans-serif;
    margin: 0;
    opacity: 1;
    background-color: var(--background);
    background: radial-gradient(circle, transparent 20%, var(--background) 20%, var(--background) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--background) 20%, var(--background) 80%, transparent 80%, transparent) 30px 30px, linear-gradient(var(--contrast) 2.4000000000000004px, transparent 2.4000000000000004px) 0 -1.2000000000000002px, linear-gradient(90deg, var(--contrast) 2.4000000000000004px, var(--background) 2.4000000000000004px) -1.2000000000000002px 0;
    background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
}

a {
    text-decoration: none;
    color: var(--contrast-text);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--base);
    padding: 10px 20px; 
    margin: 20px 10px;
    border-radius: 5px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.header .container {
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.header .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--background);
}

.header nav {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--background);
    margin: 3px 0;
    transition: 0.4s;
}


.header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.header nav ul li {
    margin-left: 20px;
}

.header nav ul li a {
    color: var(--background);
}

.header nav ul li a:hover {
    text-decoration: underline;
}

.header nav ul li button.header-button {
    background-color: var(--background);
    border: 1px solid var(--background); 
    color: var(--base);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.header nav ul li button.header-button:hover {
    background-color: var(--base);
    color: var(--background);
}

/* Responsive Styles */
@media (max-width: 700px) { /* Adjust breakpoint as needed */
    .header nav ul {
        display: none; /* Hide nav links */
    }

    .hamburger {
        display: flex; /* Show hamburger */
    }
}

.hero {
    text-align: left;
    padding: 150px 0 200px 0;
    position: relative;
}

.hero .container {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 20px;
    line-height: 1.1;
    color: var(--base);
    margin-left: 5%;
}

/* Responsive Styles */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .hero h1 {
        font-size: 3rem; /* Reduced font size for tablets */
    }
}

@media (max-width: 480px) { /* Adjust breakpoint as needed */
    .hero h1 {
        font-size: 2.5rem; /* Further reduced font size for phones */
    }
}

.hero .subtitle {
    color: var(--text);
    font-size: 1.1rem;
    margin-bottom: 40px;
    margin-left: 5%;
}

.hero .buttons {
    margin-left: 5%;
}

.hero .buttons button {
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.hero .buttons .primary {
    background-color: var(--base);
    color: var(--background);
    border: none;
    transition: box-shadow 0.3s ease-in-out;
}

.hero .buttons .primary:hover {
    box-shadow: 0 0 10px 5px var(--highlight); 
}

.hero .buttons .secondary {
    background-color: var(--background);
    border: 1px solid var(--base);
    color: var(--base);
}

.hero .buttons .secondary:hover {
    background-color: var(--base);
    color: var(--background);
}

.services {
    background-color: var(--background);
    border-top: 2px solid var(--contrast);
    display: flex;
    align-items: center;
}

.services .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.services .service {
    text-align: left;
    max-width: 200px;
    margin: 20px 10px;
    padding: 30px;
    background: hsla(0, 0%, 9%, 1);
    background: linear-gradient(135deg, var(--contrast) 0%, var(--background) 70%);
    background: -moz-linear-gradient(135deg, var(--contrast) 0%, var(--background) 70%);
    background: -webkit-linear-gradient(135deg, var(--contrast) 0%, var(--background) 70%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#161616", endColorstr="#0A0A0A", GradientType=1 );
    border: 1px solid var(--contrast);
    border-radius: 5px;
    flex: 1 0 30%;
}


.services .service .icon svg {
    color: var(--base);
    height: 3em;
    margin-bottom: 20px;
}

.services .service h3 {
    color: var(--base);
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.services .service p {
    font-size: 0.75rem;
    color: var(--text);
    line-height: 1.6;
}

.modal {
    display: none; /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--background);
    padding: 2rem;
    border: 1px solid var(--base);
    border-radius: 8px;
    text-align: center;
}

.modal-content p {
    color: var(--base);
}

.modal-content p a {
    color: var(--text);
}

.modal-content p a:hover {
    text-decoration: underline
}

.modal-content button {
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: var(--background);
    border: 1px solid var(--base);
    color: var(--base);
}

.modal-content button:hover {
    background-color: var(--base);
    color: var(--background);
}


#modal-close {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}
