.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 150px 1em 200px 2em;
    position: relative;
    width: 100%;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 20px;
    line-height: 1.1;
    color: var(--base);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}


/* Responsive Styles */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .hero h1 {
        font-size: 3rem; /* Reduced font size for tablets */
    }
    .cards {
        flex-direction: column;
    }
}

@media (max-width: 480px) { /* Adjust breakpoint as needed */
    .hero h1 {
        font-size: 2.5rem; /* Further reduced font size for phones */
    }
    .cards {
        flex-direction: column;
    }
}

.hero .subtitle {
    color: var(--text);
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.hero .btns button {
    padding: 1.5em 1.5em;
    font-size: medium;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.hero .btns .home-btn-primary:hover {
    box-shadow: 0 0 10px 5px var(--highlight); 
}

.hero-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1em;
}

.cards {
    display: flex;
    width: 100%;
    gap: 2em;
}

.card {
    border-color: var(--contrast);
    background: var(--background);
    background: linear-gradient(135deg, var(--contrast) 0%, var(--background) 70%);
    background: -moz-linear-gradient(135deg, var(--contrast) 0%, var(--background) 70%);
    background: -webkit-linear-gradient(135deg, var(--contrast) 0%, var(--background) 70%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#161616", endColorstr="#0A0A0A", GradientType=1 );
    max-width: 20em;
}

.card-title i {
    font-size: xx-large;
    color: var(--base)
}

.card-content {
    font-size: x-large;
    font-weight: bold;
    color: var(--text);
}

.card-footer {
    font-size: small;
    color: var(--text);
}

