.footer {
    border-top: 2px solid var(--contrast);
    background-color: var(--background);
       background: var(--background);
    background: linear-gradient(90deg, var(--contrast) 0%, var(--background) 70%);
    background: -moz-linear-gradient(90deg, var(--contrast) 0%, var(--background) 70%);
    background: -webkit-linear-gradient(90deg, var(--contrast) 0%, var(--background) 70%);
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding: 1em 2em;
}

@media (max-width: 768px) { /* Tablet */
    .footer {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 480px) { /* Phone */
    .footer {
        flex-direction: column;
        justify-content: center;
    }
}

.footer-cards {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-card-title {
    font-size: 1.5em;
    color: var(--text)
}

.footer-card-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.footer-link {
    font-size: 0.8em;
    color: var(--text);
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-bar {
    width: 5em;
    height: 0.25em;
    background-color: var(--primary);
    margin: 0.5em 0;
    padding: 0;
}